*
{
    box-sizing: border-box;
}

.wrapper
{
    display:flex;
    flex-direction: row;
    width:500px;
    height:200px;
}

.wrapper > .strobe
{
    display:flex;
    width: 100px;
    height: 200px;
    
}

.wrapper > .strobe:nth-child(1)
{
    top:0;
    left:0;
    border-right:5px dashed lime;
}

.wrapper > .strobe:nth-child(2)
{
    top:0;
    left:100px;
    border-right:5px dashed lime;
}

.wrapper > .strobe:nth-child(3)
{
    top:0;
    left:200px;
    border-right:5px dashed lime;
}

.wrapper > .strobe:nth-child(4)
{
    top:0;
    left:300px;
    border-right:5px dashed lime;
}

.wrapper > .strobe:nth-child(5)
{
    top:0;
    left:400px;
}

.strobe:hover
{
    animation: fade 2s alternate infinite;
}

@keyframes fade
{
    0%
    {
        background-color:yellow;
    }

    50%
    {
        background-color:rgba(255, 255, 0, .7)
    }

    100%
    {
        background-color:transparent;
    }
}